* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body { width:100%;font-family:"Microsoft Yahei",Arial; font-size:14px; color:#333333; }
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,img{ margin:0px; padding:0px; }
header,main,aside,footer,nav,section,article{display: block}
a { text-decoration:none; color:#333333; }
li { list-style:none }
table,img { border:0;max-width:100%; }
table { width:100%; border-collapse:collapse; }
input,textarea,button,select { outline:none;}
input::-ms-clear,input::-ms-reveal { display:none; }
input:-webkit-autofill { -webkit-box-shadow:0 0 0 1000px #fff inset;}
input,textarea,select {
	font-family:"Microsoft Yahei",Arial;
	font-size:14px;
	color:#333333;
	vertical-align:middle;
}
input::-webkit-input-placeholder{color:#dddddd}
input:-ms-input-placeholder{color:#dddddd}
input:-moz-placeholder{color:#dddddd}
input::-moz-placeholder{color:#dddddd}
button:focus { outline:none; }
button:active { transform: scale(0.95);} /* btn点击缩放效果 */
button::-moz-focus-inner { border:0;}
sub,sup {display: inline-block;transform: scale(.9)}
.clearboth:after{display:block;height:0;content:" ";clear:both;visibility:hidden;}
.clearboth { zoom:1; }
.floatR {float:right!important;}
.floatL {float:left!important;}

.base-body {position: relative;width:100%; min-height:100vh;padding-bottom: 150px;}
.layout {max-width: 1200px;min-width:960px;margin:0 auto;}
body {min-width:960px;}
.footer {position: absolute;width:100%;bottom:0;left:0;height:50px;line-height:50px;background: #eeeeee;text-align:center;}


h2 {
	font-size:16px;
	line-height: 40px;
}