<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>DEMO - Tab</title>
	<link rel="stylesheet" href="/static/css/common.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<style type="text/css" media="screen">
		.btn{border:1px solid #707b9b;}
		.btn:hover{background:#bdc5e2;color:#fff;}
		.tab-btn p{margin-bottom:10px;}
	</style>
</head>
<body>
<div class="demo_body">
	<div class="demo_header"></div>
	<div class="demo_main">
		<h2 class="title_h2">Tab 跳转指定页面位置</h2>
		<div class="tab-btn">
			<p><a class="btn" href="tab-specify-page.html?type=1">Tab one</a></p>
		    <p><a class="btn" href="tab-specify-page.html?type=2">Tab two</a></p>
		    <p><a class="btn" href="tab-specify-page.html?type=3">Tab three</a></p>
		</div>
	</div>
</div>
</body>
</html>