<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>DEMO - Contact</title>
	<link rel="stylesheet" href="/static/css/common.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
</head>
<body>
<div class="demo_body">
	<div class="demo_header"></div>
	<div class="demo_navbar"></div>
	<div class="demo_main">
		<h2 class="title_h2">Contact</h2>
		<p>Tel: +86 151 xxxx xxxx</p>
		<p>Email: <a href="mailto:joyous-quan@outlook.com">joyous-quan@outlook.com</a></p>
		<p>Address: xxxxxxxxxxxx </p>
		<p>Website: xxxxxxxxxxxx </p>
	</div>
</div>
</body>
</html>