<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DEMO - Cart</title>
	<link rel="stylesheet" href="/static/css/common.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
</head>
<body>
<div class="demo_body">
	<div class="demo_header"></div>
	<div class="demo_navbar"></div>
	<div class="demo_main">
		<h2 class="title_h2">Cart</h2>
		<table>
			<thead>
				<tr>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>No Data</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>