<div class="footer">
	<div class="foot_top_bg">
		<div class="layout BLD_foot_top">
			<span class="foot_overnight">Overnight Delivery</span>
			<span class="foot_fast">Fast & Safe Delivery Worldwide</span>
			<span class="foot_professional">Professional Service</span>
		</div>
		<div class="layout BLD_foot_middle">
			<dl class="floatL BLD_foot_nav">
				<dd>
					<a href="">About Us</a>
					<a href="">Custom Synthesis</a>
					<a href="">Bulk Inquires</a>
					<a href="">Contract Manufacturing</a>
					<a href="">R&D Center</a>
					<a href="">Sourcing Team</a>
				</dd>
				<dd>
					<a href="">How to order</a>
					<a href="">Payment & Shipping</a>
					<a href="">Returns & Refunds</a>
					<a href="">FAQ</a>
					<a href="">Privacy Policy</a>
					<a href="">COA Inquiry</a>
				</dd>
				<dd>
					<a href="">Inquiry Form</a>
					<a href="">Molarity Calculator</a>
					<a href="">Site Map</a>
					<a href="">Contact Us</a>
					<a href="">QA & QC</a>
					<a href="/templates/products/new-products.html">New Products</a>
				</dd>
			</dl>
			<div class="BLD_foot_contact">
				<h5>Contact Us</h5>
				<p>
					<span class="BLD_foot_tel">+86-21-61629022</span>
					<a class="BLD_foot_email" href="mailto:sales@bldpharm.com">sales@bldpharm.com</a>
				</p>
				<p class="BLD_foot_addr">
					488 Taoqiao Road, Building 5, 5F HuiNan Town,
					<br>Pudong New Area, Shanghai 201203, China.
				</p>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div class="BLD_foot_bottom">
		© Copyright 2013-2019 BLDpharm. All Rights Reserved.
	</div>
</div>