<div class="BLD_head">
	<div class="layout clearfloat">
		<div class="BLD_head_left">
			<a class="head_email" href="mailto:sales@bldpharm.com">sales@bldpharm.com</a>
		</div>
		<div class="BLD_head_right">
			<div class="BLD_head_top">
				<div class="BLD_search_option">
					<a class="keyword_search on_search" href="javascript:;">Keyword Search</a>
					<a class="list_search" href="javascript:;">List Search</a>
					<a class="structure_search" href="">Structure Search</a>
				</div>
				<div class="BLD_currency">
					Currency: 
					<div class="BLD_currency_val">
						<span>USD</span>
						<ul class="BLD_currency_selt">
							<li>USD</li>
							<li>EUR</li>
							<li>INR</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="BLD_head_bottom">
				<div class="BLD_search_box">
					<div class="search_enter">
						<input class="keyword_search_ipt" type="text" placeholder="CAS; Name; Catalog No.; Target">
						<div class="search_hide">
							<textarea class="list_search_text" spellcheck="false" placeholder="One line by one keyword"></textarea>
							<span class="list_search_bg"></span>
						</div>
					</div>
					<div class="BLD_search_btn_box">
						<label class="lab_uploadImg" title="">
							<img src="/static/img/head/uploadImg.png">
							<input type="file" onchange="_upadSearchImg(this)" accept="image/*">
						</label>
						<a href="javascript:;" class="BLD_search_btn"></a>		
					</div>
				</div>
				<div class="BLD_icons">
					<a href="javascript:;" class="BLD_account"></a>
					<a href="javascript:;" class="BLD_login"></a>
					<a href="javascript:;" class="BLD_favorites"></a>
					<a href="javascript:;" class="BLD_cart"></a>
					<span class="BLD_cart_count">15</span>
				</div>
			</div>
		</div>
	</div>
	<div class="BLD_head_menu">
		<div class="BLD_menu_bg"></div>
		<div class="layout">
			<a href="/" class="logo"><img src="/static/img/BLD_logo.png" alt="LOGO"></a>
			<div class="BLD_menu">
				<dl>
					<dt><a href="">Home</a></dt>
					<dt class="menu_bg_dl">
						<a href="">About</a>
						<dl>
							<dd><a href="">About Us</a></dd>
							<dd><a href="">Custom Synthesis</a></dd>
							<dd><a href="">Bulk Inquires</a></dd>
							<dd><a href="">Contract Manufacturing</a></dd>
							<dd><a href="">R&D Center</a></dd>
							<dd><a href="">Sourcing Team</a></dd>
						</dl>
					</dt>
					<dt class="menu_bg_dl">
						<a href="">Services</a>
						<dl>
							<dd><a href="">R&D Center</a></dd>
							<dd><a href="">Sourcing Team</a></dd>
						</dl>
					</dt>
					<dt class="menu_product_center">
						<a href="">Product Center</a>
						<dl>
							<dd>
								<a href="/templates/menu/chemistry.html"><strong>Chemistry</strong></a>
								<a href="">Custom Synthesis</a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
							</dd>
							<dd>
								<a href="/templates/menu/life-science.html"><strong>Life Science</strong></a>
								<a href="">Custom Synthesis</a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Custom Synthesis</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing ManufacturingR&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Contract Manufacturing</strong></a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Team</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								
							</dd>
							<dd>
								<a href=""><strong>About</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd><dd>
								<a href=""><strong>Custom Synthesis</strong></a>
								<a href="">Bulk Inquires</a>
								<a href="">R&D Center Contract Manufacturing ManufacturingR&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
							<dd>
								<a href=""><strong>Contract Manufacturing</strong></a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								
							</dd>
							<dd>
								<a href=""><strong>Team</strong></a>
								<a href="">R&D Center Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">R&D Center Contract Manufacturing Manufacturing</a>
								<a href="">Sourcing Team</a>
								<a href="">Contract Manufacturing</a>
								<a href="">Sourcing Team</a>
							</dd>
						</dl>
					</dt>
					<dt class="menu_bg_dl">
						<a href="">Services Center</a>
						<dl>
							<dd><a href="">Custom Synthesis</a></dd>
							<dd><a href="">Bulk Inquires</a></dd>
							<dd><a href="">Contract Manufacturing</a></dd>
							<dd><a href="">R&D Center</a></dd>
							<dd><a href="">Sourcing Team</a></dd>
						</dl>
					</dt>
					<dt class="padding0"><a href="">Contact Us</a></dt>
				</dl>
				<a href="" class="floatR ISO2015"><img src="/static/img/head/ISO2015.png" alt=""></a>
			</div>
		</div>
	</div>
</div>
<script>
$(function(){

	$('.keyword_search').click(function(){
		$(this).addClass('on_search').siblings().removeClass('on_search')
		$('.keyword_search_ipt').show()
		$('.search_hide').hide()
	})
	$('.list_search').click(function(){
		$(this).addClass('on_search').siblings().removeClass('on_search')
		$('.keyword_search_ipt').hide()
		$('.search_hide').show()
	})
	$(".BLD_currency_selt li").click(function(){
		var val =  $(this).html()
		$(".BLD_currency_val span").html(val)	
	});
})
</script>