/* CSS reset@ */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,a{padding:0;margin:0;}
table {border-collapse: collapse;border-spacing:0;}
del, ins {text-decoration:none;}
fieldset, img {border:0;}
body,button,textarea{font:14px/1.6 Arial,"Microsoft YaHei";color:#333;}
input,select{font:12px/1.6 Arial,"Microsoft YaHei";color:#333;}
input,select,img{vertical-align:middle;}
input,select{outline:none;}
select{height:22px;line-height:18px;padding:2px;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:14px;font-weight:400;}
address,cite,dfn,em,var{font-style:normal;}
legend{display:none;}
td{font-size:14px;line-height:140%;}
label{margin:0 0 0 5px;cursor:pointer;}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}
.left{float:left;}
.right{float:right;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
a{color:#0c73b7;text-decoration:none;}
a:hover{color:#ff6a00;text-decoration:none;}
.txthide{text-indent:-999em;overflow:hidden;line-height:0;font-size:0}
.clearfix:after{content:"";height:0;visibility:hidden;display:block;clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;overflow:hidden;}
.com_input{border:1px solid #ccc;font-size:12px;line-height:15px;padding:5.5px 5px;color:#777;}
.com_input:focus{color:#333;}
.c_red{color:#ff3535;}
.c_orange{color:#ff6a00;}
.c_blue{color:#008edf;}
.c_green{color:#0b9a00;}
.c_gray{color:#777;}
.ellipsis{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}  