html, body {
	width: 100%;
	height: 100%;
}
.section .mt20 {
	margin: 0;
}
.top{bavkground:#fff;height:30px;line-height:30px;text-align:center;}
.foot {
	z-index: 101;
}
section, article {
	width: 100%;
	min-width: 1000px;
	height: 100%;
	position: relative;
}
article .txthide {
	text-indent: -999999em;
	overflow: hidden;
	line-height: 0;
	font-size: 0px;
	display: none;
}
.sectionTitle {
	width: 100%;
	height: 55%;
	margin: 0 auto;
	padding-top: 0px;
	text-align: center;
	position: absolute;
	top: 7%;
	left: 0;
	opacity: 0;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	z-index: 8;
}
.fadeInDown .sectionTitle {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.sectionWrapper {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"100%")
}
.sectionBtndiv {
	width: 100%;
	position: absolute;
	bottom: auto;
	left: 0px;
	text-align: center;
	z-index: 10;
}
.sectionBtnsub {
	width: 13%;
	margin: 0 auto;
	text-align: center;
	display: block;
	max-width: 195px;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>195?"195px":"13%");
}
.sectionBtnsub img {
	width: 100%;
}
.sectionbg {
	width: 100%;
	height: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>1920?"1920px":"100%");
}
.section1, .section2, .section3, .section4, .sectionbg5 {
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.section1 {
	background: #419dea;
}
.section2 {
	background-color: #f2aa31;
}
.section3 {
	background: #11be9b;
}
.section4 {
	background: #f78069;
}
.section5 {
	background: #845cd9;
}
.section6 {
	background: #56aaff;
}
.secitonbottombg {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20%;
	left: 0px;
	z-index: 1;
}
.section1 .secitonbottombg {
	position: absolute;
	bottom: 0;
	left: 0;
}
.section2 .secitonbottombg img, .section5 .secitonbottombg img, .section6 .secitonbottombg img {
	width: 70%;
	max-width: 1000px;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>100?"1000px":"70%");
}
.section3 .secitonbottombg img, .section4 .secitonbottombg img {
	width: 79%;
	max-width: 1128px;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>100?"1128px":"79%");
}
.section1 .secitonbottombg img {
	width: 100%;
	max-width: 1622px;
	height: auto;
	max-height: 705px;
_width:expression((document.documentElement.clientWidth||document.body.clientWidth)>100?"1622px":"100%");
}
.section2 .secitonbottombg img {
	height: auto;
	max-height: 510px;
}
.section3 .secitonbottombg img {
	height: auto;
	max-height: 610px;
}
.section4 .secitonbottombg img {
	height: auto;
	max-height: 578px;
}
.section5 .secitonbottombg img {
	height: auto;
	max-height: 530px;
}
.section6 .secitonbottombg img {
	height: auto;
	max-height: 630px;
}
.section1 .sectionTitle {
	text-align: center;
	opacity: 1;
	top: 28%;
	_top: 26%;
	left: 20%;
	z-index: 30;
}
.section1 .sectionTitle h2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 52%;
	width: 100%;
	text-align: center;
}
.section1 .sectionTitle h2 img {
	height: 100%;
	width: auto;
}
.section1 .dload {
	position: absolute;
	top: 60%;
	left: 0;
	height: 40%;
	width: 100%;
	text-align: center;
}
.section1 .iph_dload {
	position: absolute;
	top: 60%;
	left: 0;
	height: 18%;
	width: 100%;
	text-align: center;
}
.section1 .iph_dload img, .section1 .andr_dload img {
	height: 100%;
	width: auto;
}
.section1 .andr_dload {
	position: absolute;
	top: 85%;
	left: 0;
	height: 18%;
	width: 100%;
	text-align: center;
}
.section6 .secitonbottombg a {
	position: absolute;
	left: 0;
	bottom: 5%;
	height: 15%;
	width: 100%;
	z-index: 99;
}
.section6 .secitonbottombg a img {
	height: 100%;
	width: auto;
}
/*回到顶部*/
.arrow_down {
	position: absolute;
	bottom: 10%;
	left: 49%;
	z-index: 100;
}
#arrow_up {
	display: none;
	position: fixed;
	bottom: 100px;
	right: 50px;
	width: 90px;
	height: 90px;
	z-index: 60;
	_position: absolute;
 _right:expression(eval(document.documentElement.scrollright+1000));
 _top:expression(eval(document.documentElement.scrollTop+700));
}