<style type="text/css">
	.header {
		padding-top:10px;
		height:56px;
		background: #333333;
	}
	.header ul li {
		float:left;
	}
	.logo { width:200px; }
	.logo a {
		color:#cccccc;
		font-weight: 900;
		font-size:26px;
	}
	.header .floatR label {
		display: inline-block;
		background: #dddddd;
	}
	.header li input {
		width:400px;
		height:32px;
		border:none;
		padding:0 5px;
	}
	.header button {
		height:32px;
		border:none;
	}
	.header .floatR a {
		position: relative;
		top:2px;
		display: inline-block;
		margin-left:15px;
		height:32px;
		line-height:32px;
		padding:0 15px;
		border:1px solid #aaaaaa;
		color:#cccccc;
	}	
</style>
<div class="header">
	<ul class="layout">
		<li class="logo"><a href="/">LOGO</a></li>
		<li class="floatR">
			<label><input type="text" placeholder="keyword search"><button>Search</button></label>
			<a href="/page/sign-in.html">Sign In</a>
		</li>
	</ul>
</div>
