*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body,html{margin:0;padding:0;width:100%}
body{color:#333333;font-size:16px;font-family:Arial}
dd,dl,dt,h1,h2,h3,h4,h5,h6,img,li,ol,p,ul{margin:0;padding:0}
header,article,aside,footer,head,main,nav,section{display:block}
a{text-decoration:none;color:#333}
li{list-style:none}
img,table{max-width:100%;border:0}
table{width:100%;border-collapse:collapse}
sub,sup{display:inline-block;transform:scale(.9)}
button,input,select,textarea{outline:none;font-size:16px;font-family:Arial}
input::-ms-clear,input::-ms-reveal{display:none}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input::-webkit-input-placeholder{color:#ddd}
input:-ms-input-placeholder{color:#ddd}
input:-moz-placeholder{color:#ddd}
input::-moz-placeholder{color:#ddd}
textarea::-webkit-input-placeholder{color:#ddd}
textarea:-ms-input-placeholder{color:#ddd}
textarea:-moz-placeholder{color:#ddd}
textarea::-moz-placeholder{color:#ddd}

/* ==============================BLD 公共样式================================ */
body{min-width:1300px}
.BLDbody{position:relative;padding-bottom:600px;width:100%;min-height:100vh}
.layout{margin:0 auto;width:1300px}
.clearfloat:after{clear:both;display:block;visibility:hidden;height:0;content:" "}
.clearfloat{zoom:1}
.floatR{float:right!important}
.floatL{float:left!important}
#footer{position:absolute;bottom:0;left:0;width:100%;height:465px}

/* ================================BLD header================================= */
.BLD_head{position:relative;z-index:10;width:100%;height:90px;background:#015cac}
.BLD_head_left{float:left;padding-top:36px}
.head_email{display:inline-block;padding-left:36px;height:36px;background:url(/static/img/head/icon_email.png) no-repeat left center;color:#fff;line-height:36px}
/* BLD head right top  搜索切换和地区选择*/
.BLD_head_right{float:right;width:78%}
.BLD_search_option{float:left;height:36px}
.BLD_search_option a{display:inline-block;margin-right:30px;color:#fff;font-size:14px;line-height:36px}
.BLD_search_option a.on_search,.BLD_search_option a:hover{color:#fc274f}
.BLD_currency{position:relative;float:right;height:36px;color:#fff;font-size:14px;line-height:36px}
.BLD_currency_val{position:relative;display:inline-block;padding-right:18px;width:56px;background:url(/static/img/head/icon_down.png) no-repeat right center;text-align:center;cursor:pointer}
.BLD_currency_selt{position:absolute;top:34px;right:-5px;z-index:2;display:none;width:60px;border:1px solid #ddd;background:#015cac;text-align:center;line-height:26px}
.BLD_currency_selt li:hover{background:#1c79e1}
.BLD_currency_val:hover .BLD_currency_selt{display:block}
/* BLD head right bottom   搜索功能 search input*/
.BLD_search_box{position:relative;float:left;width:74%;height:40px;background:#fff}
.search_enter{position:absolute;top:0;left:0;z-index:3;width:100%}
.keyword_search_ipt{padding:5px 10px;width:100%;height:40px;border:none}
.list_search_text{padding:8px 10px;width:100%;width:100%;height:200px;border:none;line-height:24px;resize:none}
.list_search_bg{position:absolute;top:0;right:0;width:20px;height:200px;background:#fff}
.BLD_search_btn_box{position:absolute;top:0;right:0;z-index:10;width:90px;height:40px;background:#fff}
.search_hide {display: none;}
.lab_uploadImg{position:absolute;top:10px;cursor:pointer}
.lab_uploadImg input{position:absolute;top:0;left:0;z-index:-1;padding-right:0;width:28px;height:28px;opacity:0}
.BLD_search_btn{float:right;display:inline-block;width:50px;height:40px;background:url(/static/img/head/icon_search.png) no-repeat center}
/* 登录 会员 收藏 购物车 按钮 */
.BLD_icons{float:right;text-align:right}
.BLD_icons a{display:inline-block;margin-left:10px;width:36px;height:36px}
.BLD_account{background:url(/static/img/head/icon_account.png) no-repeat center}
.BLD_login{background:url(/static/img/head/icon_login.png) no-repeat center}
.BLD_favorites{background:url(/static/img/head/icon_favorites.png) no-repeat center}
.BLD_cart{position:relative;background:url(/static/img/head/icon_cart.png) no-repeat center}
.BLD_cart_count{position:relative;top:-10px;display:inline-block;display:none;width:24px;height:24px;border-radius:24px;background:#fc274f;color:#fff;text-align:center;font-size:14px;line-height:24px}
/* BLD 头部菜单 */
.ISO2015,.logo{display:inline-block;padding-top:20px}
.BLD_head_menu{position:absolute;top:90px;bottom:0;width:100%;height:90px}
.BLD_menu_bg{position:absolute;z-index:-1;width:100%;height:90px;background:#015cac;opacity:.4}
.BLD_menu{float:right;width:78%}
.BLD_menu dt{position:relative;float:left;padding-right:6.8%;line-height:90px}
.padding0{padding:0!important}
.BLD_menu dt a{overflow:hidden;color:#fff;text-overflow:ellipsis;white-space:nowrap}
.BLD_menu dt>a{position:relative;top:10px;display:inline-block;height:30px;font-weight:700;font-size:18px;line-height:30px;-webkit-transition:all .2s ease;transition:all .2s ease}
.BLD_menu dt:hover>a{border-bottom:2px solid #fff}
.BLD_menu dt:hover dl{display:block}
.BLD_menu dt dl{position:absolute;display:none;padding:15px 20px;background:#1c79e1;font-size:14px;line-height:30px}
.menu_bg_dl dd{padding-right:20px;width:240px;min-height:30px;background:url(/static/img/head/right.png) no-repeat right center}
.menu_product_center dl{left:-335%;width:1300px;column-count:3;column-gap:2em;-moz-column-count:3;-webkit-column-count:3;-moz-column-gap:2em;-webkit-column-gap:2em}
.menu_product_center dl dd{margin-bottom:1em;break-inside:avoid;-moz-page-break-inside:avoid;-webkit-column-break-inside:avoid}
.menu_product_center dd a{display:inline-block;width:300px;line-height:20px}
.menu_product_center dd strong{display:inline-block;padding-right:20px;background:url(/static/img/head/right.png) no-repeat right center;font-size:16px}
.menu_product_center dd a:hover strong,.BLD_menu dd a:hover{text-decoration:underline}

/* ==================================BLD footer===========================================*/
/* BLD footer    top*/
.foot_top_bg{padding:25px 0;min-height:385px;background:#041e42}
.BLD_foot_top{min-height:90px;border-bottom:1px solid #213857;text-align:center}
.BLD_foot_top span{display:inline-block;padding-left:70px;height:60px;min-width:200px;color:#fff;white-space:nowrap;font-size:24px;line-height:60px}
.foot_overnight{background:url(/static/img/foot/OvernightDelivery.png) no-repeat left center}
.foot_fast{margin:0 100px;background:url(/static/img/foot/Fast&SafeDeliveryWorldwide.png) no-repeat left center}
.foot_professional{background:url(/static/img/foot/ProfessionalService.png) no-repeat left center}
/* BLD footer     middle */
.BLD_foot_middle{padding-top:25px}
.BLD_foot_middle a:hover{color:#1c79e1}
.BLD_foot_nav dd{float:left;padding-right:100px;}
.BLD_foot_nav dd a{display:block;color:#fff;font-size:18px;line-height:36px}
.BLD_foot_contact{float:right;color:#fff;font-size:18px}
.BLD_foot_contact h5{padding-bottom:20px;color:#1c79e1;font-size:18px;line-height:36px}
.BLD_foot_contact a,.BLD_foot_contact span{display:inline-block;padding-left:30px;height:30px;color:#fff;line-height:30px}
.BLD_foot_tel{padding-right:20px;background:url(/static/img/foot/foot_icon_tel.png) no-repeat left center}
.BLD_foot_email{background:url(/static/img/foot/foot_icon_email.png) no-repeat left center}
.BLD_foot_addr{padding-top:20px;padding-left:30px;background:url(/static/img/foot/foot_icon_address.png) no-repeat left center}
/* BLD footer    bottom */
.BLD_foot_bottom{height:80px;background:#000f24;color:#727272;text-align:center;font-size:14px;line-height:80px}

/* ==================================公共 title===========================================*/
/*BLD_breadcrumb 公共*/
.BLD_breadcrumb{padding-top:150px;height:430px;color:#fff;text-align:center}
.BLD_breadcrumb h2{font-size:48px;line-height:100px}
.BLD_breadcrumb p{font-size:18px}
.BLD_breadcrumb a{display:inline-block;color:#fff}
.BLD_breadcrumb a:hover{text-decoration:underline}
/*BLD_content_title 公共内容title*/
.BLD_content_title{font-size:36px;line-height:90px}
.oblique_line{padding:0 10px}

/* ==================================屏幕宽度小于1350 ===========================================*/
@media only screen and (max-width:1350px){
.layout{padding:0 20px;}
.menu_product_center dl{width:1270px}
}