/* .banner */
.banner{margin:0 auto;max-height:732px;background:#f5f5f5;text-align:center}
.swiper-slide{max-height:732px}
.swiper-button-next{right:10%}
.swiper-button-prev{left:10%}
/* BLD_welcome  */
.BLD_welcome{padding-bottom:10px;background:#f5f5f5}
.BLD_welcome h2{height:90px;font-size:36px;line-height:90px}
.BLD_welcome p{padding-bottom:20px;text-align:justify;line-height:22px}
/* BLD_services */
.BLD_services_bg{height:530px;background:url(/static/img/index/ScaleUpCommercialManufacture.png) no-repeat center}
.BLD_services_move{position:absolute;top:-30px;border-top:15px solid transparent;border-right:15px solid transparent;border-bottom:15px solid #3490ff;border-left:15px solid transparent;background:0 0;-webkit-transition:all .2s ease;transition:all .2s ease}
.BLD_services_move_left{left:15%;border-bottom-color:#3490ff}
.BLD_services_move_middle{left:49%;border-bottom-color:#1c79e1}
.BLD_services_move_right{left:83%;border-bottom-color:#005bac}
.BLD_services_box{position:relative;top:-30px}
.BLD_services_change li{float:left;width:33.33%;height:285px;color:#fff;text-align:center;font-size:30px}
.BLD_services_change li p{height:180px}
.BLD_services_scale{background:#3490ff}
.BLD_services_scale p{background:url(/static/img/index/icon_ScaleUpCommercialManufacture.png) no-repeat center}
.BLD_services_custom{background:#1c79e1}
.BLD_services_custom p{margin-bottom:12px;background:url(/static/img/index/icon_CustomSynthesis.png) no-repeat center}
.BLD_services_packed{background:#005bac}
.BLD_services_packed p{margin-bottom:12px;background:url(/static/img/index/icon_PackedInventories.png) no-repeat center}
/* BLD_Product_services */
.BLD_Product_services h2{position:relative;margin:30px 0;height:80px;text-align:center;font-size:60px}
.BLD_Product_services h2 span{position:absolute;top:75px;right:0;bottom:0;left:0;margin:auto;width:120px;border-top:3px solid #1c79e1;font-size:0}
.BLD_Product_services dl{width:50%;text-align:center}
.BLD_Product_services dt{height:150px;text-align:center}
.BLD_Product_services dd strong{font-weight:400;font-size:30px}
.BLD_Product_services dd p{color:#686868;font-size:20px;line-height:32px}
.BLD_Product_services dd{padding-top:20px}
.BLD_Product_services dd a{display:inline-block;padding:0 45px 0 20px;height:50px;border:1px solid #1c79e1;background:url(/static/img/index/see_more.png) no-repeat;background-position:110px center;color:#1c79e1;font-weight:700;font-size:18px;line-height:48px}
.BLD_Product_services dd a:hover{background:#1c79e1 url(/static/img/index/see_more_white.png) no-repeat;background-position:110px center;color:#fff}
