/*BLD一级菜单灰色色块 公共*/
.gray_bg {
	background: #f5f5f5;
	padding:15px 40px 20px;
	line-height: 36px;
	margin-bottom:20px;
}
.gray_bg h3 {
	font-size: 18px;
}
.gray_bg ul li {
	float:left;
	width:25%;
	padding:0 15px;
	background: url(/static/img/Dot.png) no-repeat left center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.gray_bg ul li:hover{
	background: url(/static/img/Dot_blue.png) no-repeat left center;
}
.gray_bg ul li:hover a {
	color:#1c79e1;
}

/*BLD 二级菜单  公共*/
.white_bg {
	margin:0 -5px;
}
.white_bg li{
	float:left;
	width:33.33%;
	padding:5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.white_bg li a {
	display: block;
	height:59px;
	line-height: 60px;
	padding:0 20px 0 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #f5f5f5 url(/static/img/menu_bg.png) no-repeat left center;
}
.white_bg li a:hover {  background-color: #fff;
    -moz-box-shadow: 1px 1px 8px rgba(30, 144, 255, 0.5);
    -webkit-box-shadow: 1px 1px 8px rgba(30, 144, 255, 0.5);
    box-shadow: 1px 1px 8px rgba(30, 144, 255, 0.5);
    color:#1c79e1;
}
/*chemistry*/
.chemistry_breadcrumb{
	background: url(/static/img/breadcrumb/Chemistry.png) no-repeat center;
}
/*life science*/
.life_science_breadcrumb{
	background: url(/static/img/breadcrumb/LifeScience.png) no-repeat center;
}
