/*new products*/
.new_products_breadcrumb{
	background: url(/static/img/breadcrumb/NewProducts.png) no-repeat center;
}

.products_title {
	border-top:2px solid #333;	
}
.products_title thead th {
	text-align: left;
	line-height: 50px;
}


.BLD_products_img {
	background: #f1f1f1;
	padding:0!important;
}
.BLD_products_img  a{
	display: block;
}
.products_list {
	border-top:2px solid #f1f1f1;
	border-bottom:2px solid #f1f1f1;
	margin-bottom: 10px;
}
.products_list td {
	padding-left: 20px;
}