.main {
    height: 780px; background: #FDF8F4;
}
    .main .bg_img{
        float:left; width:750px;
    }
        .login_box{
            background: #fff;
            height: 436px; width:360px;
            float:right; margin-top:150px;
            box-shadow: ;
        }
            .login_box p{
                height:46px; width: 280px;
                margin-left:40px; margin-top:10px;
                line-height: 46px;
            }
                .login_box p:first-child {
                    height:56px;
                }
                .welcome{
                    display: block; height:56px;
                    font-size: 18px; color: #f19108;
                    line-height: 70px; text-align: center;
                }
                .login_box .inp {
                    height:42px; width:280px;
                }
            .login {
                display: block; height:50px; width: 280px;
                background: #f19108; color: #fff; font-size: 18px;
                line-height: 50px; text-align: center;
            }
        .register_l { color: #f19108; }
        .register_r {
            float: right;
        }
