html,body,img,ul,li,p,dl,dt,dd,input{
    margin: 0; padding: 0;
}
body {
    font-size: 12px; color: #666;
}
ul,li { list-style: none;}
img { border:none; display: block;}
a { text-decoration: none;}

.layout {
    width:1200px; margin: 0 auto;
}

/*header start*/
.header {
    height: 70px;
    background: #323232;
}
    .header img { float: left; }
    .header_r { float: right; }
        .header_r a {
            float: left; height: 70px; width: 68px;
            color: #bbb;
            text-align: center; line-height: 70px;
        }
/*main start*/
.main {
    height: 780px;
    background: #FDF8F4;

}
    .main .bg_img{
        float:left; width:750px;
    }
        .reg_box{
            background: #fff;
            height: 486px; width:360px;
            float:right; margin-top:100px;
        }
            .reg_box p{
                height:46px; width: 280px;
                margin-left:40px;
                line-height: 46px;
            }
                .inp {
                    height:42px; width:280px;
                }
            .reg_box span{
                display: block; float: left;
            }
            .reg_box span.username_r,.reg_box .password_r,.reg_box .repassword_r{
                float: right;
            }
            .register {
                display: block; height:50px; width: 280px;
                background: #f19108; color: #fff; font-size: 18px;
                line-height: 50px; text-align: center;
            }
            .login {
                color: #f19108;
            }


/*footer start*/
.footer {
    height: 430px;
}
.footer strong{
    color:#000; line-height: 26px;
}
    .footer_t {
        height: 211px;
    }
        .serviceDl{
            width:170px; height:148px;
            float: left;
            padding-left: 15px;
            margin-top: 30px;
            line-height: 23px;
        }
        .last_dl{
            width:270px; height:148px;
            float: left;
            padding-left: 15px;
            margin-top: 30px;
            line-height: 23px;
        }
        .last_dl p {
            color: #000;
        }
        .last_dl span {
            float:left; display: block;
            width:100px; height:24px;
        }
        .app{
            height:100px; width:80px; margin-top: 30px;
            float: right; text-align: center; line-height: 24px;
        }
    .footer_nav {
        height: 40px; background: #463b7f;
    }
        .f_nav {
            height:40px;
        }
        .f_nav li{
            width:225px;  float:left;
            color:#fff; font-size:14px;
            line-height: 40px; text-align: center;
        }
        .footer_b {
            text-align: center;
        }
            .footer_b a{
                margin-right: 20px; color:#000;
                line-height: 30px;
            }
            .footer_b span {
                line-height: 25px; margin-right: 20px;
                color:#999;
            }
            .footer_5{
                height: 50px; width:600px;
                margin:0 auto;
            }
            .footer_b img{
                float:left; margin-right:10px;
            }