html,body{height:100%;}
html{overflow-y:auto;}
body{font:12px arial;background:#fff;}
body,p,ul,li,img{margin:0;padding:0;list-style:none;}
body{position:relative;}
img{border:0;}
a{text-decoration: none;}
a:active{color:#f60;}
input{border:0;padding:0;}

.layout{width:1020px; margin:0 auto;}
/* header */
.header{height:60px; background:#adc; line-height:60px;font-size:18px; color:#fff;position:fixed; top:0; width:100%;}
.header_left{float:left; cursor:pointer;}
.header_right,.header_right_login{float:right; cursor:pointer;}
.header_right_login span{padding-left:10px;}
.header_right span a,.header_right_login span a{color:#fff; padding:0 10px;}
/* content */
.content {min-height:1000px;}









