<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<script src="/tool/js/vue.js"></script>
	<style>
		table { width:100%; border-collapse: collapse;margin-top: 20px; }
		th { background: #eee; }
		td { text-align: center; line-height: 30px;}
		input { height:26px;width:200px;padding:0 6px; }
	</style>
</head>
<body>
	<div id="app" style="width:800px;margin: 40px auto">

		<div><a href="/" title="">返回首页</a></div>
		<br>
		<fieldset>
			<legend>录入成绩表 </legend>
			<p>姓名：<input type="text" v-model="addStudents.name"></p>
			<p>班级：<input type="text" v-model="addStudents.grade"></p>
			<p>学号：<input type="text" v-model="addStudents.number"></p>
			<p>语文：<input type="number" min="0" max="150" v-model="addStudents.language"></p>
			<p>数学：<input type="number" min="0" max="150" v-model="addStudents.maths"></p>
			<p>英语：<input type="number" min="0" max="150" v-model="addStudents.english"></p>
			<button @click="addScore"> 录入成绩 </button>
		</fieldset>
		<table border="1">
			<thead>
				<tr>
					<th rowspan="2">姓名</th><th rowspan="2">班级</th><th rowspan="2">学号</th><th colspan="3">各科成绩</th><th rowspan="2">总成绩</th>
				</tr>
				<tr>
					<th>语文</th><th>数学</th><th>英语</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(student,index) in students">
					<td>{{ student.name }}</td>
					<td>{{ student.grade }}</td>
					<td>{{ student.number }}</td>
					<td>{{ student.language }}</td>
					<td>{{ student.maths }}</td>
					<td>{{ student.english }}</td>
					<td>{{ Number(student.language)+Number(student.maths)+Number(student.english) }} </td>
				</tr>
			</tbody>
		</table>
	</div>

<script>
	var app = new Vue({
		el: '#app',
		data: {
		students : [
			{name:"张",grade:"高一（1）班",number:"1001",language:120,maths:135,english:114},
			{name:"李",grade:"高一（1）班",number:"1021",language:100,maths:130,english:135}
		],
		addStudents : {name:"",grade:"",number:"",language:"",maths:"",english:"",total:""}

		},
		methods: {
			addScore(){
				if(this.addStudents.name === ""){
					alert("Name cannot be empty");
					return;
				}
				if(this.addStudents.grade === ""){
					alert("Grade cannot be empty");
					return;
				}
				if(this.addStudents.number === ""){
					alert("Number cannot be empty");
					return;
				}
				if(this.addStudents.number === "" || this.addStudents.language === "" || this.addStudents.english === ""){
					alert("Score cannot be empty");
					return;
				}
				this.students.unshift(this.addStudents);
				this.addStudents = {name:"",grade:"",number:"",language:"",maths:"",english:"",total:""}
			}
		}
	})
</script>
</body>
</html>
