<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DEMO - Canvas Solar</title>
	<link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div class="demo_body">
	<div class="demo_header"></div>
	<div class="demo_navbar"></div>
	<div class="demo_main layout">
		<h2 class="title_h2">Canvas 绘制太阳系</h2>
		<canvas id="solar" width="500" height="500" style="background:#222">
			您的浏览器不支持canvas，请更换浏览器！
		</canvas>
	</div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
<script>
    let sun;
    let earth;
    let moon;
    let ctx;
    function init(){
        sun = new Image();
        earth = new Image();
        moon = new Image();
        sun.src = "/static/img/canvas/sun.png";
        earth.src = "/static/img/canvas/earth.png";
        moon.src = "/static/img/canvas/moon.png";
     
        let canvas = document.querySelector("#solar");
        ctx = canvas.getContext("2d");
     
        sun.onload = function (){
            draw()
        }
    }
    init();
    function draw(){
        ctx.clearRect(0, 0, 500, 500); //清空所有的内容
        /*绘制 太阳  500x500*/
        ctx.drawImage(sun, 0, 0, 500, 500);
     
        ctx.save();
        ctx.translate(250, 250);//起始点移至250，250
     
        //绘制earth轨道
        ctx.beginPath();
        ctx.strokeStyle = "rgba(255,255,0,0.5)";
        ctx.arc(0, 0, 150, 0, 2 * Math.PI)
        ctx.stroke()
     
        let time = new Date();
        
        //绘制地球
        // rotate(angle) 旋转的量，用弧度表示。正值表示顺时针方向旋转，负值表示逆时针方向旋转。
        ctx.rotate(2 * Math.PI / 60 * time.getSeconds() + 2 * Math.PI / 60000 * time.getMilliseconds())
        ctx.translate(150, 0);//地球的运行轨迹半径为150
        ctx.drawImage(earth, -25, -25)//地球的大小 50x50 
     
        //绘制月球轨道
        ctx.beginPath();
        ctx.strokeStyle = "rgba(255,255,255,.3)";
        ctx.arc(0, 0, 60, 0, 2 * Math.PI);
        ctx.stroke();
     
        //绘制月球 
        ctx.rotate(2 * Math.PI / 6 * time.getSeconds() + 2 * Math.PI / 6000 * time.getMilliseconds());
        ctx.translate(60, 0);//月球的运行轨迹半径为60
        ctx.drawImage(moon, -10, 0);//月球的大小 20x20
        ctx.restore();
     
        requestAnimationFrame(draw);//请求动画帧。60Hz的刷新频率
    }
</script>
</body>
</html>